body {
    font-family: 'Paytone One', sans-serif;
    background-color: black;

}

.container {
    max-width: 300px;
    margin: auto;
    background-color: purple;
    padding: 20px;
    border-radius: 10px;

}


input {
    width: 100%;
    display: block;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 10px;
}

button {
    height: 30px;
    width: 100px;
    display: block;
    margin:auto;
    background-color: black;
    color: white;
    border-radius: 10px;
}

button:hover{
    background-color: blue;
}
